
.reviews-container {
    min-height: 300px;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #F2F4F7;
}

.reviews-container_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-container_box-row{
    width: 740px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.reviews-container_box-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.reviews-container_box-row_rating{
    display: flex;
    flex-direction: row;
}

.screeningTimes-container_box-button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.reviews-container_box-flexGrid{
    width: 740px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}

.reviewModal{
    width: 600px;
    height: fit-content;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px 30px 50px;
    border-radius: 40px;
    gap: 10px;
    line-height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 6px #1D2939;
}

.reviews-editor{
    text-align: start;
    width: 740px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.reviews-editor-textf{
    padding: 20px 0;
}

.reviews-editor-box{
    height: 180px;
    padding: 0px 0 60px 0;
}

.reviews-editor-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px 0 30px 0;
}

.reviews-editor-textf{
    height: 75px;
    width: 300px;
}