
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px
}