
.movieRow-container {
    height: 485px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*padding-left: 50px;*/
    background: linear-gradient(to bottom, white, black, #730507);
}